.pedido-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
}

.pedido-container h1, h2{
    color: #660030;
    text-align: center;
}
.detalles-pedido {
    margin: 5px 0;
    padding: 7.5px;
    border-bottom: 1px solid #eee;
}

.resumen-pedido {
    margin: 20px 0;
    padding: 15px;
}

.resumen-pedido .total {
    font-size: 1.2em;
    color: #660030;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #eee;
}

.mensaje-privacidad {
    margin-top: 10px;
    padding: 0px;
    background-color: #f9f9f9;
    border-radius: 8px;
    text-align: center;
}

.whatsapp-button {
    display: inline-block;
    background-color: #25D366;
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    margin-top: 20px;
    font-size: 1.1em;
    transition: background-color 0.3s;
}

.whatsapp-button:hover {
    background-color: #128C7E;
}
.pedido-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.pedido-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.estado-pendiente {
    color: #ff9800;
    font-weight: bold;
    margin-top: 25px;
}
.estado-completado, .estado-realizado {
    color: #4CAF50;
    font-weight: bold;
}
.estado-eliminado {
    color: #f44336;
    font-weight: bold;
}
.whatsapp-button {
    background-color: #25D366;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s;
}
.whatsapp-button:hover {
    background-color: #128C7E;
}
.sin-pedidos {
    text-align: center;
    padding: 40px;
    background-color: #f5f5f5;
    border-radius: 8px;
    margin-top: 20px;
}
/* Estilos para la página de pedido */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
}
